body{
background-color: rgb(81, 83, 168);
}

h1{
color: rgb(243, 243, 243);
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align: center;
font-size: 70px;
background:;
}


p{
color:rgb(47, 161, 165);
font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
background:;
}
#m.png {
       width: 100%;
}
















