body{
background-color: rgb(128, 32, 32);
}

h1{
color: rgb(228, 178, 15);
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align: center;
font-size: 70px;
}


p{
color: rgb(188, 204, 218);
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 50px;
}

















